table {
	border: 1px solid black;
}

table,
th,
td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

.today {
	background-color: gray;
}

.dateWithBooking {
	background-color: rgb(176, 214, 176);
}

.selectedDay {
	background-color: pink;
}
